<!DOCTYPE html>
<html data-bs-theme="light" lang="ja" class="remember-theme">
<%= render "layouts/head" %>
<body class="bg-base-200 flex min-h-screen items-center justify-center">
<%= yield %>
</body>
</html>
